<template>
  <div>
    <p v-html='questionHTML'></p>
    <p id='blah'></p>
    <textarea id='aa' ref='hi' v-model='message' placeholder='Enter here' @input='changeString()'
              @enter="answer+=','"/>
    <MathLine :answer='answer'/>
    {{questionSolver()}}
  </div>
</template>

<script lang='ts'>
  import MathLine from './MathLine.vue';
  import {Component, Prop, Vue} from 'vue-property-decorator';

  @Component({
    name: 'questionBox',
    components: {
      MathLine,
    },
  })
  export default class QuestionBox extends Vue {
    @Prop(String) private readonly question!: string;

    private message = '';
    private answer = '';
    private questionHTML = '';

    private mounted() {
      this.questionHTML = this.question.replace(/(\^[0-9]{1,})+/g, '<sup>2</sup>');
    }

    private changeString() {
      this.answer = this.message.replace(/(\^[0-9]{1,})+/g,
        (match) => `<sup>${match.replace('^', '')}</sup>`);
    }

    private questionSolver() {
      const arithmetic = ['*', '/', '÷', '+', '-'];
      const inequalities = ['<', '>'];
      const brackets = ['(', ')', '{', '}', '[', ']'];
      const other = ['%', '^', '='];
      if (this.question.includes('^2')) {
        return this.quadraticSolver(brackets);
      } else if (this.question.includes('x')) {
        return this.basicAlgebraSolver(brackets)
      }
    }

    private quadraticSolver(brackets: string[]) {
      let simplification = this.basicAlgebraSolver(brackets);
      console.log('simplification', simplification);
      let xValueObject = {};
      for(let i=0;i<simplification.length;i+=2)
      {
        const xValue = simplification[i].includes('x') ? simplification[i].slice(simplification[i].indexOf('x')) : 'numeric';
        const numericValue = simplification[i].includes('x') ? simplification[i].slice(0, simplification[i].indexOf('x')) || '1' : simplification[i];
        console.log(xValue,numericValue);
        xValueObject[xValue] = i>0 && simplification[i-1] === '-' ? numericValue[0]==='-' ? numericValue : '-'.concat(numericValue) : numericValue;
      }
      console.log(xValueObject);
      const a = xValueObject['x^2'];
      const b = xValueObject['x'];
      const c = xValueObject['numeric'];
      return [(-b+Math.sqrt(b*b-4*a*c))/2*a,(-b-Math.sqrt(b*b-4*a*c))/2*a];
    }

    private basicAlgebraSolver(brackets: string[]): string[] {
      let tokens: string[] = this.splitString(this.question);
      tokens = this.changeSubtractToAdd(tokens);
      const equalsIndex: number = tokens.indexOf('=');
      let leftHandSide: string[] = equalsIndex === -1 ? tokens : tokens.slice(0, equalsIndex);
      leftHandSide = this.sideSolver(leftHandSide, brackets);
      leftHandSide = this.secondaryAdditive(leftHandSide, brackets);
      let rightHandSide: string[] | null = equalsIndex === -1 ? null : tokens.slice(equalsIndex + 1);
      rightHandSide = this.sideSolver(rightHandSide, brackets);
      rightHandSide = this.secondaryAdditive(rightHandSide, brackets);
      for (let i = 0; i < rightHandSide.length; i++) {
        if (i === 0) rightHandSide[i][0] === '-' ? rightHandSide[i] = rightHandSide[i].substring(1) : rightHandSide[i] = '-'.concat(
          rightHandSide[i]);
        else if(rightHandSide[i]==='+'||rightHandSide[i]==='-') rightHandSide[i]==='+' ? rightHandSide[i]='-' : rightHandSide[i]='+';
      }
      let finalResult = leftHandSide.concat(['+'].concat(rightHandSide));
      return this.secondaryAdditive(finalResult,brackets);
    }

    private changeSubtractToAdd(tokens: string[]) {
      for(let i=0;i<tokens.length;i++)
      {
        if(tokens[i]==='-' && !(['(','{','['].includes(tokens[i+1].replace(/([^({[])+/g, ''))))
        {
          tokens.splice(i,2,'+','-'.concat(tokens[i+1]));
        }
      }
      return tokens;
    }

    private sideSolver(tokens: string[], brackets: string[]): string[] {
      const multiplicativeOperations: string[] = ['*', '/', '÷'];
      const additiveOperations: string[] = ['+', '-'];
      for (const operation of multiplicativeOperations) {
        tokens = this.multiplicativeOperation(tokens, brackets, operation);
      }
      for (const operation of additiveOperations) {
        tokens = this.additiveOperation(tokens, brackets, operation);
      }
      return tokens;
    }

    private splitString(question: string): string[] {
      return question.replace(/(\s)+/g, '').split(/([\*\/+\-÷=])+/g);
    }

    private multiplicativeOperation(tokens: string[], brackets: string[], operation: string): string[] {
      while (tokens.some((token) => token === operation)) {
        let index = tokens.indexOf(operation);
        let leftHandSideResult = this.getSides(brackets, tokens, index - 1, operation);
        let leftHandSide = leftHandSideResult.tokens[index - 1];
        if (leftHandSideResult.hasChangeOccurred) {
          continue
        }
        let rightHandSideResult = this.getSides(brackets, tokens, index + 1, operation);
        let rightHandSide = rightHandSideResult.tokens[tokens.indexOf(
          operation) + 1];
        if (rightHandSideResult.hasChangeOccurred) {
          continue
        }
        if (leftHandSide.includes('x') && rightHandSide.includes('x')) {
          const numericValue = (new Function('return ' + (leftHandSide.slice(0,
            leftHandSide.indexOf('x')) || '1') + operation + (rightHandSide.slice(0,
            rightHandSide.indexOf('x')) || '1')))();
          const leftHandSideXValue: string = leftHandSide.indexOf('^') === -1 ? '1' : leftHandSide.slice(
            leftHandSide.indexOf('^') + 1);
          const rightHandSideXValue: string = rightHandSide.indexOf('^') === -1 ? '1' : rightHandSide.slice(
            rightHandSide.indexOf('^') + 1);
          const xValue = operation === '*'
            ? (new Function('return ' + (leftHandSideXValue + '+' + rightHandSideXValue)))()
            : (new Function('return ' + (leftHandSideXValue + '-' + rightHandSideXValue)))();
          tokens.splice(index - 1,
            3,
            `${numericValue}x^${xValue}`.replace(/(\^[0-1]+)+/g, ''));
        } else if (leftHandSide.includes('x') || rightHandSide.includes('x')) {
          const leftOrRight = leftHandSide.includes('x');
          const numericValue = leftOrRight ? (new Function('return ' + ((leftHandSide.slice(0,
            leftHandSide.indexOf('x'))
            .replace('^', '') || '1') + operation + rightHandSide)))() : (new Function('return ' + (
            (leftHandSide + operation + rightHandSide.slice(0, rightHandSide.indexOf('x')).replace(
              '^',
              '') || '1'))))();
          const finalValue = `${numericValue}x^${leftOrRight ? (leftHandSide.slice(leftHandSide.indexOf(
            'x') + 1)
            .replace(
              '^',
              '') || '1') : (rightHandSide.slice(rightHandSide.indexOf('x') + 1).replace('^',
            '') || '1')}`.replace(/(\^[0-1]+)+/g, ''); // TODO separate this to make negative x values possible
          tokens.splice(index - 1,
            3, finalValue,
          );
        } else {
          const finalValue: string =
            (new Function('return ' + 'String(' + (leftHandSide + operation + rightHandSide + ')')))();
          tokens.splice(index - 1,
            3,
            finalValue);
        }
      }
      return tokens;
    }

    private additiveOperation(tokens: string[], brackets: string[], operation: string) {
      let index: number;
      let leftHandSide: string;
      let rightHandSide: string;
      for (let i = 0; i < tokens.length; i++) {
        if (tokens[i] === operation) {
          index = i;
          leftHandSide = this.getSides(brackets, tokens, index - 1).tokens[index - 1];
          rightHandSide = this.getSides(brackets, tokens, index + 1).tokens[index + 1];
          if (leftHandSide.includes('x') && rightHandSide.includes('x')) {
            const leftHandSideXValue = leftHandSide.slice(leftHandSide.indexOf('x') + 1)
              .replace('^',
                '') || '1';
            const rightHandSideXValue = rightHandSide.slice(rightHandSide.indexOf('x') + 1).replace(
              '^',
              '') || '1';
            if (leftHandSideXValue === rightHandSideXValue) {
              const numericValue = (new Function(`return ${leftHandSide.slice(0,
                leftHandSide.indexOf('x')) || '1'}${operation}${rightHandSide.slice(0,
                rightHandSide.indexOf('x')) || '1'}`))();
              tokens.splice(index - 1,
                3,
                `${numericValue}x^${leftHandSideXValue}`.replace(/(\^[0-1]+)+/g, ''));
              i = 0;
            }
          } else if (!leftHandSide.includes('x') && !rightHandSide.includes('x')) {
            tokens.splice(index - 1,
              3,
              (new Function('return ' + 'String(' + (leftHandSide + operation + rightHandSide + ')')))());
            i = 0;
          }
        }
      }
      return tokens;
    }

    private bracketsSolver(tokens: string[], index: number, brackets: string[], multiplicationFactor?: string): { tokens: string[], hasChangeOccurred: boolean } {
      const bracketsEquivalent: { [index: string]: string } = {
        '{': '}',
        '[': ']',
        '(': ')',
        '}': '{',
        ']': '[',
        ')': '(',
      };
      const tokensCopy: string[] = tokens.slice(0);
      const bracket: string = tokens[index].replace(/([^({[)}\]])+/g, '');
      let expression: string[] = tokens;
      for (let i = index; i < tokensCopy.length; ['(', '{', '['].includes(bracket) ? i++ : i--) {
        let test = tokensCopy[i].replace(/([^({[)}\]])+/g, '');
        if (bracketsEquivalent[bracket] === test[test.length - 1]) {
          ['(', '{', '['].includes(bracket) ? expression = tokensCopy.splice(index,
            i - index + 1) : expression = tokensCopy.splice(i,
            index - i + 1);
          break;
        }
      }
      expression[0] = expression[0].replace(bracket, '');
      expression[expression.length - 1] = expression[expression.length - 1].replace(
        bracketsEquivalent[bracket],
        '');
      let expressionCopy = expression.slice(0);
      expression = this.sideSolver(expression, brackets);
      let hasChangeOccurred = false;
      if (multiplicationFactor) {
        let newExpression = [];
        for (let element of expression) {
          if (!(['*', '/', '÷', '+', '-'].includes(element)) && expression[expression.length - 1] !== element) {
            newExpression = [...newExpression, element, '*', multiplicationFactor];
          } else {
            newExpression = [...newExpression, element];
          }
        }
        expression = newExpression;
        hasChangeOccurred = true;
      }
      ['(', '{', '['].includes(bracket) ? tokens.splice(index,
        expressionCopy.length,
        ...expression) : tokens.splice(index - expressionCopy.length + 1,
        expressionCopy.length,
        ...expression);
      return {tokens: tokens, hasChangeOccurred: hasChangeOccurred};
    }

    private secondaryAdditive(tokens: string[], brackets: string[]) {
      let tokenObject = {};
      let tokensCopy = tokens.slice(0);
      for (let i = 0; i < tokensCopy.length; i += 2) {
        if (tokensCopy[i].includes('x')) {
          let xValue = tokensCopy[i].slice(tokensCopy[i].indexOf('x'));
          let numericValue = tokensCopy[i].slice(0, tokensCopy[i].indexOf('x')) || '1';
          if (tokenObject[xValue]) {
            tokenObject[xValue] = [...tokenObject[xValue], '+', tokensCopy[i - 1] === '-' ? numericValue[0]==='-' ? numericValue.substring(1) : `-${numericValue}` : numericValue];
          } else {
            tokenObject[xValue] = i - 1 === -1 && tokensCopy[i - 1] === '-' ? [`-${numericValue}`] : [numericValue];
          }
        } else {
          if (tokenObject['numeric']) {
            tokenObject['numeric'] = [...tokenObject['numeric'], '+', tokensCopy[i - 1] === '-' ? tokensCopy[i][0]==='-' ? tokensCopy[i].substring(1) : `-${tokensCopy[i]}` : tokensCopy[i]];
          } else {
            tokenObject['numeric'] = i - 1 === -1 && tokensCopy[i - 1] === '-' ? [`-${tokensCopy[i]}`] : [tokensCopy[i]];
          }
        }
        i === 0 ? tokensCopy = tokensCopy.slice(1) : tokensCopy.splice(i - 1, 2);
        i = -1;
      }
      let finalResult = [];
      for (let key of Object.keys(tokenObject)) {
        finalResult = finalResult.length > 0 ? [...finalResult, '+', `${this.additiveOperation(
          tokenObject[key],
          brackets,
          '+')}${key === 'numeric' ? '' : key}`]
          : [`${this.additiveOperation(tokenObject[key],
            brackets,
            '+')}${key === 'numeric' ? '' : key}`];
      }
      return finalResult;
    }

    private getSides(brackets: string[], tokens: string[], index: number, operation?: string): { tokens: string[], hasChangeOccurred: boolean } {
      if (brackets.includes(tokens[index].replace(/([^({[)}\]])+/g, ''))) {
        if (operation) {
          let multiplicationFactor = ['(', '{', '['].includes(tokens[index].replace(/([^({[])+/g,
            '')) ? tokens[index - 2] : tokens[index + 2];
          return (this.bracketsSolver(tokens, index, brackets, multiplicationFactor));
        }
        return this.bracketsSolver(tokens, index, brackets);
      }
      return {tokens: tokens, hasChangeOccurred: false};
    }
  }
</script>
