<template>
  <div id='app'>
    <p id='hi'></p>
    <div v-for='question in questions'>
      <QuestionBox :question='question'/>
    </div>
    <p id='hi'></p>
  </div>
</template>

<script lang='ts'>
  import {Component, Vue} from 'vue-property-decorator';
  import QuestionBox from './components/QuestionBox.vue';

  @Component({
    name: 'app',
    components: {
      QuestionBox,
    },
    data: () => ({
      questions: ['x^2 + 5x + 5 = 24 ', 'x + 2x * 5 - 4 + 4x * 7x - 5 = 12 - 5 * 2x + 6x + 6 - 4'],
      // ,['d/dx(3x^5)',2]], 'x^2 + 5x + 5 = 24 ' , '(5x+{7x^2+7} * 6x +4) + (4x^2*[4+7])*(3)'
    }),
  })
  export default class App extends Vue {
  }
</script>

<style lang='scss'>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }

  p {
    white-space: pre-line;
  }
</style>